.float__content {
  border: 1px solid black;
  margin: 10px;
}

.float__content img:first-child {
  float: left;
  padding: 10px;
}
.float__content img {
  float: right;
  padding: 10px;
  width: 600px;
  height: 200px;
}

.float__content h1 {
  clear: both;
}
